<div class="u-container c-component">
    <h3 class="u-serif c-component__title"><a href="#">{{ title }}</a></h3>
    <ul class="u-flex u-flex--wrap u-clean-list mb0">
        <li class="u-flex u-col u-col--desk-4-4 u-flex--wrap">
            {{ firstLineContent }}
        </li>
        <li class="u-flex u-col u-col--desk-4-1">
            {{ secondLineContent }}
        </li>
    </ul>
</div>