<div class="u-container">
    {{ render '@highlighted-two-by-two' }}
    <ul class="u-flex__row u-flex__row--cols-4 u-clean-list">
        <li class="u-flex__item u-flex__item--span-2">
            {{ render '@list-regular-cards--regular-image' }}
        </li>
        <li class="u-flex__item u-flex__item--span-2">
            {{ render '@list-regular-cards' }}
        </li>
    </ul>
</div>