html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f4f4f4;
  -webkit-text-size-adjust: 100%;
  font-stretch: normal;
}

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@import "../../components/**/*.scss";

.nature-header {
  padding-bottom: 39px;
  margin-bottom: 20px;
  background-color: #940720;
  @include media-query("medium") {
    padding-bottom: 80px;
  }
}

.nature-header__ad-container {
  background-color: #44444e;
  min-height: 110px;
  padding: 20px;
  display: none;
  @include media-query("medium") {
    display: block;
  }
}

.nature-header__ad {
  margin: 0 auto;
  width: 90%;
  max-width: 728px;
  height: 90px;
  background-color: #f4f4f4;
}

.nature-header__breadcrumbs {
  background-color: #5a5a62;
  min-height: 35px;
  padding: 10px 20px;
  display: none;
  @include media-query("medium") {
    display: block;
  }
}
