<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ path '/css/magazine.css' }}">
</head>

<body class="has-flex">
    <header class="nature-header">
        <div class="nature-header__ad-container">
            <div class="nature-header__ad"></div>
        </div>
        <div class="nature-header__breadcrumbs"></div>
    </header>
    <main role="main">
        <div class="u-container">
            {{{ yield }}}
        </div>
    </main>
</body>

</html>