html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f4f4f4;
  -webkit-text-size-adjust: 100%;
  font-stretch: normal; }

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  padding: 20px; }

img {
  max-width: 100%; }

.c-card {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
  color: #222;
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

.card__container {
  position: relative; }

.c-card__copy {
  margin-bottom: 15px;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem; }

.c-card__title {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0; }

.c-card__article-type,
.c-card__date,
.c-card__spacer {
  letter-spacing: 0.9px;
  color: #666; }

.c-card__article-type {
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #666;
  text-transform: uppercase; }

.c-card a {
  color: inherit;
  text-decoration: none; }

.c-card a:hover .c-card__title {
  text-decoration: underline; }

.c-card--hero,
.c-card--hero-big {
  background-color: #f2f2f2;
  padding: 10px; }
  .c-card--hero .c-card__title,
  .c-card--hero-big .c-card__title {
    font-size: 24px; }
  .c-card--hero .c-card__image-container,
  .c-card--hero-big .c-card__image-container {
    /* @media only screen and (min-width: 75.06em) */
    /*@media only screen and 700px {*/ }
    @media only screen and (min-width: 43.75em) {
      .c-card--hero .c-card__image-container,
      .c-card--hero-big .c-card__image-container {
        margin: -10px -10px 15px -10px; } }

.c-card--hero-big {
  /* @media only screen and (min-width: 75.06em) */
  /*@media only screen and 700px {*/ }
  @media only screen and (min-width: 43.75em) {
    .c-card--hero-big .c-card__image-container {
      margin: 0; }
    .c-card--hero-big .u-responsive-ratio {
      margin: -10px -10px -10px 0; } }

/* @media only screen and (min-width: 75.06em) */
/*@media only screen and 700px {*/
@media only screen and (min-width: 43.75em) {
  .has-flex .c-card__container {
    width: 0; } }

.c-card--regular-image .c-card__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 109px; }

.c-card--regular-image .c-card__copy {
  padding-left: 119px; }

.c-card__footer {
  align-items: flex-end; }

.u-inline-block {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px; }

.u-container {
  margin: 0 auto;
  max-width: 1000px; }

.u-demo-container {
  max-width: 500px;
  box-shadow: 0 1px 4px 3px #ebebeb;
  padding: 15px; }

.u-demo-container--small {
  max-width: 300px;
  box-shadow: 0 1px 4px 3px #ebebeb;
  padding: 15px; }

.u-full-width {
  width: 100%; }

.u-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.u-flex--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.u-flex--nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%; }

.u-flex-content--stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.u-flex-direction--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.u-flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.u-flex-direction--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.u-flex-direction--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.u-flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(10px * -1) 0 0 calc(10px * -1); }

.u-col {
  box-sizing: border-box;
  background-clip: content-box;
  flex-basis: 100%; }

@media only screen and (min-width: 0) {
  .u-col--small-1 {
    flex-basis: 25%;
    max-width: 25%; }
  .u-col--small-2 {
    flex-basis: 50%;
    max-width: 50%; }
  .u-col--small-3 {
    flex-basis: 75%;
    max-width: 75%; }
  .u-col--small-4 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: 480px) {
  .u-col--medium-1 {
    flex-basis: 25%;
    max-width: 25%; }
  .u-col--medium-2 {
    flex-basis: 50%;
    max-width: 50%; }
  .u-col--medium-3 {
    flex-basis: 75%;
    max-width: 75%; }
  .u-col--medium-4 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: 960px) {
  .u-col--large-1 {
    flex-basis: 25%;
    max-width: 25%; }
  .u-col--large-2 {
    flex-basis: 50%;
    max-width: 50%; }
  .u-col--large-3 {
    flex-basis: 75%;
    max-width: 75%; }
  .u-col--large-4 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: 1100px) {
  .u-col--xlarge-1 {
    flex-basis: 25%;
    max-width: 25%; }
  .u-col--xlarge-2 {
    flex-basis: 50%;
    max-width: 50%; }
  .u-col--xlarge-3 {
    flex-basis: 75%;
    max-width: 75%; }
  .u-col--xlarge-4 {
    flex-basis: 100%;
    max-width: 100%; } }

.u-responsive-ratio {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden; }

.u-responsive-ratio img,
.u-responsive-ratio video,
.u-responsive-ratio iframe,
.u-responsive-ratio object,
.u-responsive-ratio embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.u-clean-list {
  padding: 0;
  list-style: none; }

.u-text-left {
  text-align: left; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-upper {
  text-transform: uppercase; }

.u-lower {
  text-transform: lowercase; }

.u-capitalize {
  text-transform: capitalize; }

.u-underline {
  text-decoration: underline;
  -webkit-text-decoration-skip: skip;
  text-decoration-skip: ink; }

.u-double-underline {
  text-decoration: underline;
  -webkit-text-decoration-skip: skip;
  text-decoration-skip: ink;
  border-bottom: 1px solid; }

.u-monospace {
  font-family: monospace; }

.u-nowrap {
  white-space: nowrap; }

.u-prewrap {
  word-wrap: break-word;
  white-space: pre-wrap; }

.u-overflow-ellipsis {
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.u-font-weight--regular {
  font-weight: 400; }

.u-font-weight--semi-bold {
  font-weight: 700; }

.u-font-weight--bold {
  font-weight: 700; }

/* .u-strong and .u-emphasis from normalize can be used to add bold and italic respectively */
.u-unstyled {
  font-weight: normal;
  font-style: normal; }

/*
note: font-variant: small-caps doesn't display as we need for single character strings
when source text is already uppercase, hence the use of font-size, text-transform
*/
.u-small-caps {
  font-size: 0.8em;
  /* scale based on containing text */
  text-transform: uppercase; }

.u-serif {
  font-family: "Lora", Palatino, Times, "Times New Roman", serif; }

.u-sans-serif {
  font-family: "Source Sans Pro", helvetica, sans-serif; }

/* force standard text sizes */
.u-text11 {
  font-size: 1.1rem; }

.u-text13 {
  font-size: 1.3rem; }

.u-text14 {
  font-size: 1.4rem; }

.u-text17 {
  font-size: 1.7rem;
  /* body copy */ }

.u-text18 {
  font-size: 1.8rem; }

.u-text24 {
  font-size: 2.4rem; }

.u-text30 {
  font-size: 3rem; }

.u-text48 {
  font-size: 4.8rem; }

/* vertical alignment */
.u-v-middle {
  vertical-align: middle; }

.u-v-top {
  vertical-align: top; }
