.u-serif {
  font-family: "Lora", serif;
}

.u-sans-serif {
  font-family: "Source Sans Pro", sans-serif;
}

.u-responsive-ratio {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.u-responsive-ratio img,
.u-responsive-ratio video,
.u-responsive-ratio iframe,
.u-responsive-ratio object,
.u-responsive-ratio embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.u-inline-block {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.u-container {
  margin: 0 auto;
  max-width: 1000px;
}

.u-demo-container {
  max-width: 500px;
}

.u-demo-container--small {
  max-width: 300px;
}

.u-clean-list {
  padding: 0;
  list-style: none;
}
