//grid gap
$grid-gap: 10px;
$grid-columns: 4;

//flex container definition
.u-flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(#{$grid-gap} * -1) 0 0 calc(#{$grid-gap} * -1);
}

//flex item definition
.u-col {
  box-sizing: border-box;
  background-clip: content-box;
  flex-basis: 100%;
}

@each $label, $map in $breakpoint-map {
  @media only screen and (min-width: map-get($map, min-width)) {
    @for $i from 1 through $grid-columns {
      .u-col--#{$label}-#{$grid-columns}-#{$i} {
        flex-basis: round-width($i);
        flex: 1 round-width($i);
      }
    }
  }
}
