.c-card {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.c-card__copy {
  margin-bottom: 15px;
}

.c-card__title {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
}

.c-card__article-type,
.c-card__date,
.c-card__spacer {
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #666;
}

.c-card__article-type {
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #666;
  text-transform: uppercase;
}

.has-flex .c-card {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.has-flex .c-card__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.has-flex .c-card__copy {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

@include media-query("portable") {
  .has-flex .c-card__container {
    width: 0;
  }
}

.c-card--regular-image .c-card__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 109px;
}

.c-card--regular-image .c-card__copy {
  padding-left: 119px;
}
