

<div class="u-container">
    <ul class="u-flex__row u-flex__row--cols-4 u-clean-list">
        <li class="u-flex__item u-flex__item--span-2">
            <div class="c-card c-card--highlighted u-demo-container">
    <div class="c-card__container">
        <div class="c-card__image-container c-card__image-container">
            <div class="u-responsive-ratio">
                <img src="//media.nature.com/w580h326/magazine-assets/d41586-018-05757-y/d41586-018-05757-y_15963120.jpg" />
            </div>
        </div>
        <div class="c-card__copy">
            <h3 class="c-card__title u-serif">Ecologists try to speed up evolution to save Australian marsupial from toxic toads.</h3>
            <div class="c-card__footer">
                <span class="c-card__article-type sans-serif strong u-sans-serif">News</span>
                <span class="c-card__spacer u-sans-serif"> | </span>
                <span class="c-card__date u-sans-serif">18 JUL 2018</span>
            </div>
        </div>
    </div>
</div>
        </li>
        <li class="u-flex__item u-flex__item--span-2">
            <ul class="u-flex__container--2by2 u-clean-list">
    <li class="u-flex__item u-flex__item--span-1">
        <div class="c-card c-card--major-image ">
            <div class="c-card__container">
                <div class="c-card__image-container c-card__image-container">
                    <div class="u-responsive-ratio">
                        <img src="//media.nature.com/w580h326/magazine-assets/d41586-018-05814-6/d41586-018-05814-6_15977140.jpg" />
                    </div>
                </div>
                <div class="c-card__copy">
                    <h3 class="c-card__title u-serif">CRISPR plants now subject to tough GM laws in European Union</h3>
                    <div class="c-card__footer">
                        <span class="c-card__article-type sans-serif strong u-sans-serif">News</span>
                        <span class="c-card__spacer u-sans-serif"> | </span>
                        <span class="c-card__date u-sans-serif">18 JUL 2018</span>
                    </div>
                </div>
            </div>
        </div>    </li>
    <li class="u-flex__item u-flex__item--span-1">
        <div class="c-card c-card--major-image ">
            <div class="c-card__container">
                <div class="c-card__image-container c-card__image-container">
                    <div class="u-responsive-ratio">
                        <img src="https://media.nature.com/w580h326/magazine-assets/d41586-018-05805-7/d41586-018-05805-7_15974394.jpg" />
                    </div>
                </div>
                <div class="c-card__copy">
                    <h3 class="c-card__title u-serif">Controversial US ketamine trial sparks ethics complaint</h3>
                    <div class="c-card__footer">
                        <span class="c-card__article-type sans-serif strong u-sans-serif">News</span>
                        <span class="c-card__spacer u-sans-serif"> | </span>
                        <span class="c-card__date u-sans-serif">18 JUL 2018</span>
                    </div>
                </div>
            </div>
        </div>    </li>
    <li class="u-flex__item u-flex__item--span-1">
        <div class="c-card c-card--major ">
            <div class="c-card__container">
                <div class="c-card__copy">
                    <h3 class="c-card__title u-serif">How to defuse malaria&#x27;s ticking time bomb</h3>
                    <div class="c-card__footer">
                        <span class="c-card__article-type sans-serif strong u-sans-serif">News</span>
                        <span class="c-card__spacer u-sans-serif"> | </span>
                        <span class="c-card__date u-sans-serif">18 JUL 2018</span>
                    </div>
                </div>
            </div>
        </div>    </li>
    <li class="u-flex__item u-flex__item--span-1">
        <div class="c-card c-card--major ">
            <div class="c-card__container">
                <div class="c-card__copy">
                    <h3 class="c-card__title u-serif">Fruit-fly brain, the real Lorax and new geological ages</h3>
                    <div class="c-card__footer">
                        <span class="c-card__article-type sans-serif strong u-sans-serif">Seven Days</span>
                        <span class="c-card__spacer u-sans-serif"> | </span>
                        <span class="c-card__date u-sans-serif">18 JUL 2018</span>
                    </div>
                </div>
            </div>
        </div>    </li>
</ul>
        </li>
    </ul>
</div>
