

<div class="c-card c-card--major-no-image u-demo-container--small">
    <div class="c-card__container">
        <div class="c-card__copy">
            <h3 class="c-card__title u-serif">Ecologists try to speed up evolution to save Australian marsupial from toxic toads.</h3>
            <div class="c-card__footer">
                <span class="c-card__article-type sans-serif strong u-sans-serif">News</span>
                <span class="c-card__spacer u-sans-serif"> | </span>
                <span class="c-card__date u-sans-serif">18 JUL 2018</span>
            </div>
        </div>
    </div>
</div>
