<div class="u-container">
    <div class="u-flex__row u-flex__list u-clean-list">
        <li class="u-flex__item">
            {{ render '@hero--big' }}
        </li>
        <li class="u-flex__item">
            {{ render '@card-list' }}
        </li>
        </ul>
    </div>