<div class="u-container">
    <ul class="u-flex__row u-flex__row--cols-4 u-clean-list">
        <li class="u-flex__item u-flex__item--span-2">
            {{ render '@hero--regular' }}
        </li>
        <li class="u-flex__item u-flex__item--span-2">
            {{ render '@two-by-two' }}
        </li>
    </ul>
</div>