.c-card--highlighted {
  background-color: #f2f2f2;
  padding: 10px;
  .c-card__title {
    font-size: 24px;
  }
  .c-card__image-container--small {
    padding-right: 0;
  }
  .c-card__image-container--small,
  .c-card__copy {
    width: 100%;
  }
}
